/* Include Foundation */

@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;

body {
    background-color: white;
    color: black;
}

section {
    width: 80%;
    margin: 0 auto;

    ul {
        @include grid-row();
        padding: 0px;    

        .daily {
            @include grid-column(3);
            list-style-type: none;
            text-align: center;

        }

        .supply {
            @include grid-column(6);
            list-style-type: none;

            button {
                border: 2px solid black;
                padding: 5px;
            }
        }
    }
}