<!doctype html>

<html>

<head>
    <title>lemonade stand</title>
    <!-- add css file -->
    <link rel="stylesheet" href="style.css">
    <!-- add js file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
</head>
    
<body ng-app="LemonadeApp">
    <h1>lemonade stand</h1>
    <section ng-controller="LemonadeStandController">
        <ul>
            <li ng-repeat="info in log">
                <!--<p>Day: {{ info.day }}</p>
                <p>Money: {{ info.money }}</p>
                <p>Vistors (yesterday): {{ info.visitors }}</p>
                <p>Customers (yesterday): {{ info.customers }}</p>-->
                <day-info stats="info"></day-info>
            </li>
        </ul>
    </section>

    <section ng-controller="ResourcesController">
        <ul>
            <li ng-repeat="resource in resources">
                <!--<h2>{{ resource.name }}</h2>
                <p>{{ resource.stock }} in stock</p>
                <input type='number' placeholder='price'>
                <button>buy</button>-->
                <resources supplies="resource"></resources>
            </li>
        </ul>
    </section>
</body>

</html>